#wrapper {
  margin: 50px 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

#return {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#return:hover {
  background-color: #3e8e41;
}

fieldset {
  border: none;
  margin-bottom: -15px;
  margin-left: -15px;
  margin-top: -15px;
}

input[type="text"] {
  width: 91%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#upd {
  margin-left: 10px;
  /* margin-right: -5px; */
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

#upd:hover {
  background-color: #006A8E;
}

#details {
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  margin-top: 0;
}

h5 {
  font-size: 20px;
  margin-top: 0;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

a {
  color: #008CBA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}